.box1 {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.box2 {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.box3 {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.box4 {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}
